@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');
*:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}